$pink: #FF3E79;
$blue:#B8FFEC;
$blackTextColor:#1B1C21;
$grayTextColor: #7E7E82;
$white: #ffffff;
$lightGray: #F8F8F8;
$gray:#EAEAEA;
$decorativeItem:#41F6D7;
$headerShadow:rgba(14, 24, 80, 0.2);
$endShadow:rgba(248, 248, 248, 0.0001);
$transparentWhite:rgba(255, 255, 255, 0.9);
$backGroundLink:#F9F9f9;
$divider:#EAEAEA;
$borderBlock:#D9FFF5;
$paginatorBulet:#DDDDDD;
$btnShadow: #aa3E79;
$btnInsetShadow: #553E79;
$btnActiveShadow:#ff9ee2;

