@import 'colors.scss';

.header{
    &__inner{
    display:flex;
    align-items:center;
    justify-content: flex-start;
    height: 88px;
    background-color: $white;
    
    
    }
    @media (min-width: 1336px){
        &__inner{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        position: sticky;
        }
    }
    &__burger{
        margin-left: 15px;
    }
    @media (min-width: 1336px){
        &__burger{
            display: none;
        }
    }
    &__close{
        display: none;
        flex: none;
    }
    &__logo{
        margin-left: 15px;
        display: flex;
        align-items: center;
    }
    @media (min-width: 1336px){
        &__logo{
            margin-top:30px ;
        }
    }   
    @media (min-width: 767px){
        &__logo--divider::before{
            content: "";
            Width: 2px;
            Height: 32px;
            background-color: $divider;
            border-radius: 1px;
            margin:0 15px 0 10px;
        }
    }
    @media (min-width: 1336px){
        &__logo--divider::before{
            display: none;
        }
    }
    &__serch{
        display: none;
    }
    @media (min-width: 1336px){
        &__serch{
            display: flex;
            position: absolute;
            transform: translateX(250px) translateY(35px);
        }
    }
    &__header-nav{
        display: none;
        margin-left: 0px;
        margin-top: 20px;
    }
    @media (min-width: 1336px){
        &__header-nav{
            display:block;
            margin-top: 30px;
        }
    }
    

    &__feedback{
        display: none;  
    }
    @media (min-width: 767px) {
        &__feedback{
            display: block;
            margin-left:auto ;
            
    }
    }
    @media (min-width: 1336px) {
        &__feedback{
            margin: 120px 15px 0px;
           
        }
    }
    &__address{
        display: none;
        margin-top: 15px;
        font-style: normal;
    }
    @media (min-width: 1336px) {
        &__address{
            display: block;
            
        }
    }
    &__link {
        margin: 20px 15px;
        text-decoration: none;
        color: $blackTextColor;
        transition: color 0.2s;
        font-family: 'TT Lakes Medium';
    }
    &__link--font-size--24px{
        font-size: 24px;;
    }
    
    &__lang{
        display: none;
        margin-top: 30px;
    }
    @media (min-width: 1336px) {
        &__lang{
            display: flex;
        }
    }
}
